// ----------- Font Family
$font-persian: "Vazirmatn", "Serif";

$black: #000;
$white: #fff;
$shimgray: #e5e5e5;
$gray: #eeeef0;
$dgray: #b6b9c0;
$background: #f8f7fc;
//primary
$lprimary: #58627d;
$primary: #2e3440;
//secondary
$lsecondary: #f7b229;
$secondary: #f7ad19;
//success
$success: #4fcca4;
//danger
$danger: #ed5250;
//warning
$warning: #f27f0c;
//info
$linfo: #0597fa;
$info: #1378a6;
// ---------- BOOTSTRAP CUSTOM
// ---- MEDIA QUIRIES BREAKPOINTS
/* breakpoints bootstrap */
$breakpoint-xs-custom: 0;
$breakpoint-sm-custom: 576px;
$breakpoint-md-custom: 768px;
$breakpoint-lg-custom: 1024px;
$breakpoint-xl-custom: 1200px;
$breakpoint-xxl-custom: 1400px;
